#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/explore.css'}">
#{/set}

#{set 'moreScripts'}
    #{script 'jquery_before.js'/}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxtsdrVK6ZbFJTBebvoRID-69LkSUwiMA">
    </script>
    #{script 'CustomGoogleMapMarker.js'/}
    #{script 'explore.js'/}
<script type="text/javascript">
</script>
#{/set}
<div id="map-canvas"></div>

<ul id="listFindora">
#{list items:findoras, as:'findora'}
    <li id="${findora.findoraId}" nb_travel="${findora.travels.size()}" lat="${findora.latitude}" long="${findora.longitude}" name="${findora.name}">

        <ul>
            #{list items:findora.travels, as:'travelFindora'}
                <li>${travelFindora.travel.author}</li>
            #{/list}
        </ul>
    </li>
#{/list}
</ul>