#{extends 'main.html' /}
#{set title:'Board' /}

#{set 'moreScripts'}
    #{script 'board.js'/}
#{/set}


#{if user}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="left" data-delay="50" data-tooltip="Share your travel" href="/travel/add"><i class="mdi-content-add"></i></a>
</div>
#{/if}

#{list items:contents, as:'contentt' }
    #{displayContent content:contentt, as:'full' /}
#{/list}