#{extends 'main.html' /}
#{set title:'Search' /}

#{form @searchVal()}
    <p>
        <label for="query">TravelFindora</label>
#{if f}
        <input type="text" name="query" id="query" value="${f.name}" />
        
#{/if}
#{else}
        <input type="text" name="query" id="query" />
#{/else}
    </p>
    <p>
        	<input type="submit" value="Search" />
    </p>
#{/form}

#{if f}
   <h1>${f.name}</h1>
   <p>Visité par ${nbUsers} Travellers</p>
   <p>${f.nbHab} millions</p>
   <p>${f.size} km&sup2;</p>
   <p>${f.description}</p>
		<ul> blop
    		#{list items:con, as:'contentt' }
     		      #{displayContent content:contentt, as:'full' /}
   			#{/list}
		</ul>
#{/if}
#{else}
    <div class="empty">
        There are no Findoras like that.
    </div>
#{/else}