#{extends 'main.html' /}
#{set title:'Search' /}

#{if f}
	<div class="container">
<h1>${f.name}</h1>
<div class="left">
	
      <div>Visité par ${nbUsers} Travellers</div>  	
	  <div>${f.nbHab} millions</div>
      <div>${f.size} km&sup2;</div>
      <div>${f.description}</div>
</div>
	
	
	<div class="right"> 
			#{list items:con, as:'contentt' }
     		      #{displayContent content:contentt, as:'findora' /}
   			#{/list}
	</div>
		
	</div>	
#{/if}
#{else}
    <div class="empty">
        There are no Findoras like that.
    </div>
#{/else}