/TravelFindoreProject/tmp
/TravelFindoreProject/modules
/TravelFindoreProject/lib
/TravelFindoreProject/test-result
/TravelFindoreProject/logs
/TravelFindoreProject/eclipse
/TravelFindoreProject/.classpath
/TravelFindoreProject/*.iml
/TravelFindoreProject/.idea
