#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/formContent.css'}">
#{/set}

#{form @addContentPlace()}
<div class="row">
    <div class="input-field col s12">
        <textarea id="description" name="description" class="materialize-textarea">
            #{if travelPlace }
                ${travelPlace.description}
            #{/if}
        </textarea>
        <label for="description">Description</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input placeholder="Placeholder" id="latitude" name="latitude" type="number" class="validate" #{if travelPlace } value="${travelPlace.latitude}" #{/if}>
        <label for="latitude">Latitude</label>
    </div>
    <div class="input-field col s6">
        <input id="longitude" name="longitude" type="number" class="validate" #{if travelPlace } value="${travelPlace.longitude}" #{/if}>
        <label for="longitude">Longitude</label>
    </div>
</div>

#{if travelPlace }
    <input type="hidden" name="contentId" id="contentId" value="${travelPlace.contentId}" />
#{/if}
#{else }
    <input type="hidden" name="contentId" id="contentId" value="-1" />
#{/else}
<input type="hidden" name="travelId" id="travelId" value="${travel.travelId}" />
    #{if findoraId}
    <input type="hidden" name="findoraId" id="findoraId" value="${findoraId}" />
    #{/if}
    #{elseif travel }
    <div class="row">
        <div class="input-field col s12">
            <select id="findoraId" name="findoraId" style="display: inline-block;">
                <option value="" disabled selected>Choose your findora</option>
                #{list items:travel.findoras, as:'travelfindora' }
                    <option value="${travelfindora.findora.findoraId}">${travelfindora.findora.name}</option>
                #{/list}
            </select>
        </div>
    </div>
    #{/elseif}
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
</button>

#{/form}