*{ Display a  in one of these modes: 'full', 'findora'}*
#{set 'moreStyles'}
    #{get 'moreStyles'/}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/findora.css'}" />
#{/set}
#{set 'moreScripts'}
    #{get 'moreScripts'/}
    #{script 'displayContent.js'/}
#{/set}
<div >
#{if _as == 'full'}
    #{if _content instanceof models.TravelStory  }
    <p>${_content.story}</p>
    #{/if}
    #{if _content instanceof models.Astuce  }
    <p>${_content.text}</p>
    #{/if}
    #{if _content instanceof models.TravelPlace  }
    <p>${_content.description}</p>
    #{/if}
    #{if _content instanceof models.TravelImage }
    <p>
        <img src="data/attachments/${_content.file.getName()}"
             title="${_content.description}" /></a>
    </p>
    #{/if}
    #{if _content instanceof models.TravelMovie}
    <video width="350" height="250" controls>
        <source src="data/attachments/${_content.file.getName()}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    #{/if}

#{/if}

#{else}
    #{if _content instanceof models.TravelStory  }
    <div class="card">
        <div class="card-content">
            <p>${_content.story}</p>
        </div>
        <div class="card-action">
            <div>
                <a class="left" href="travel/${_content.travel.travelId}">Go to story</a>
                <a class="right" href="" onclick="dislike(${_content.contentId});">I dislike !</a>
                <a class="right" href="" onclick="like(${_content.contentId});">I like !</a>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contentEmail left"> ${_content.user?.email}</div>
                <div class="contentDate right">${_content.dateCreation?.since()}</div>
                <div style="clear: both;"></div>
            </div>
            <div class="contentLikers">${_content.likers.size()} likes</div>
        </div>
        <div class="card-action">
            <div>Comments</div>
            <ul class="collapsible commentairesContent" data-collapsible="accordion">
                #{list items:_content.commentaires, as:'comm' }
                    <li class="commentaireContent">
                        <div class="collapsible-header">${comm.user.email} ${comm.dateCreation?.since()}</div>
                        <div class="collapsible-body"><p>${comm.text}</p></div>
                    </li>
                #{/list}
            </ul>

            #{form @ControllerUser.addCommentContent()}
                <div class="input-field col s12">
                    <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                    <label for="comment">Your comment</label>
                </div>
                <input type="hidden" name="commentId" id="commentId" value="-1" />
                <input type="hidden" name="contentId" id="contentId" value="${_content.contentId}" />
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            #{/form}
        </div>
    </div>
    #{/if}

    #{if _content instanceof models.TravelPlace  }
    <div class="card light-blue darken-1">
        <div class="card-content white-text">
            <span class="card-title">Card Title</span>
            <p>${_content.description}</p>
        </div>
        <div class="card-action">
            <div>
                <a class="left" href="travel/${_content.travel.travelId}">Go to story</a>
                <a class="right" href="" onclick="dislike(${_content.contentId});">I dislike !</a>
                <a class="right" href="" onclick="like(${_content.contentId});">I like !</a>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contentEmail left"> ${_content.user?.email}</div>
                <div class="contentDate right">${_content.dateCreation?.since()}</div>
                <div style="clear: both;"></div>
            </div>
            <div class="contentLikers">${_content.likers.size()} likes</div>
        </div>
        <div class="card-action">
            <div>Comments</div>
            <ul class="collapsible commentairesContent" data-collapsible="accordion">
                #{list items:_content.commentaires, as:'comm' }
                    <li class="commentaireContent">
                        <div class="collapsible-header">${comm.user.email} ${comm.dateCreation?.since()}</div>
                        <div class="collapsible-body"><p>${comm.text}</p></div>
                    </li>
                #{/list}
            </ul>

            #{form @ControllerUser.addCommentContent()}
                <div class="input-field col s12">
                    <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                    <label for="comment">Your comment</label>
                </div>
                <input type="hidden" name="commentId" id="commentId" value="-1" />
                <input type="hidden" name="contentId" id="contentId" value="${_content.contentId}" />
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            #{/form}
        </div>
    </div>
    #{/if}

    #{if _content instanceof models.Astuce  }
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <p>${_content.text}</p>
        </div>
        <div class="card-action">
            <div>
                <a class="left" href="travel/${_content.travel.travelId}">Go to story</a>
                <a class="right" href="" onclick="dislike(${_content.contentId});">I dislike !</a>
                <a class="right" href="" onclick="like(${_content.contentId});">I like !</a>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contentEmail left"> ${_content.user?.email}</div>
                <div class="contentDate right">${_content.dateCreation?.since()}</div>
                <div style="clear: both;"></div>
            </div>
            <div class="contentLikers">${_content.likers.size()} likes</div>
        </div>
        <div class="card-action">
            <div>Comments</div>
            <ul class="collapsible commentairesContent" data-collapsible="accordion">
                #{list items:_content.commentaires, as:'comm' }
                    <li class="commentaireContent">
                        <div class="collapsible-header">${comm.user.email} ${comm.dateCreation?.since()}</div>
                        <div class="collapsible-body"><p>${comm.text}</p></div>
                    </li>
                #{/list}
            </ul>

            #{form @ControllerUser.addCommentContent()}
                <div class="input-field col s12">
                    <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                    <label for="comment">Your comment</label>
                </div>
                <input type="hidden" name="commentId" id="commentId" value="-1" />
                <input type="hidden" name="contentId" id="contentId" value="${_content.contentId}" />
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            #{/form}
        </div>
    </div>
    #{/if}

    #{if _content instanceof models.TravelImage }
    <div class="card miniImg">
        <div class="card-image">
            <img  src="data/attachments/${_content.file.getName()}">
            <span class="card-title">${_content.fileName}</span>
        </div>
        <div class="card-content">
            <p>${_content.description}</p>
        </div>
        <div class="card-action">
            <div>
                <a class="left" href="travel/${_content.travel.travelId}">Go to story</a>
                <a class="right" href="" onclick="dislike(${_content.contentId});">I dislike !</a>
                <a class="right" href="" onclick="like(${_content.contentId});">I like !</a>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contentEmail left"> ${_content.user?.email}</div>
                <div class="contentDate right">${_content.dateCreation?.since()}</div>
                <div style="clear: both;"></div>
            </div>
            <div class="contentLikers">${_content.likers.size()} likes</div>
        </div>
        <div class="card-action">
            <div>Comments</div>
            <ul class="collapsible commentairesContent" data-collapsible="accordion">
                #{list items:_content.commentaires, as:'comm' }
                    <li class="commentaireContent">
                        <div class="collapsible-header">${comm.user.email} ${comm.dateCreation?.since()}</div>
                        <div class="collapsible-body"><p>${comm.text}</p></div>
                    </li>
                #{/list}
            </ul>

            #{form @ControllerUser.addCommentContent()}
                <div class="input-field col s12">
                    <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                    <label for="comment">Your comment</label>
                </div>
                <input type="hidden" name="commentId" id="commentId" value="-1" />
                <input type="hidden" name="contentId" id="contentId" value="${_content.contentId}" />
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            #{/form}
        </div>
    </div>
    #{/if}

    #{if _content instanceof models.TravelMovie}
    <div class="card miniImg">
        <div class="card-image">
            <video width="100" height="auto" controls>
                <source src="data/attachments/${_content.file.getName()}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <span class="card-title">${_content.fileName}</span>
        </div>
        <div class="card-content">
            <p>${_content.description}</p>
        </div>
        <div class="card-action">
            <div>
                <a class="left" href="travel/${_content.travel.travelId}">Go to story</a>
                <a class="right" href="" onclick="dislike(${_content.contentId});">I dislike !</a>
                <a class="right" href="" onclick="like(${_content.contentId});">I like !</a>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contentEmail left"> ${_content.user?.email}</div>
                <div class="contentDate right">${_content.dateCreation?.since()}</div>
                <div style="clear: both;"></div>
            </div>
            <div class="contentLikers">${_content.likers.size()} likes</div>
        </div>
        <div class="card-action">
            <div>Comments</div>
            <ul class="collapsible commentairesContent" data-collapsible="accordion">
                #{list items:_content.commentaires, as:'comm' }
                    <li class="commentaireContent">
                        <div class="collapsible-header">${comm.user.email} ${comm.dateCreation?.since()}</div>
                        <div class="collapsible-body"><p>${comm.text}</p></div>
                    </li>
                #{/list}
            </ul>

            #{form @ControllerUser.addCommentContent()}
                <div class="input-field col s12">
                    <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                    <label for="comment">Your comment</label>
                </div>
                <input type="hidden" name="commentId" id="commentId" value="-1" />
                <input type="hidden" name="contentId" id="contentId" value="${_content.contentId}" />
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            #{/form}
        </div>
    </div>
    #{/if}

#{/else}
</div>
