  .storyD {
					    /*white-space: nowrap;*/ /* Запрещаем перенос строк */
					    overflow: hidden; /* Обрезаем все, что не помещается в область */
					    background: #fc0; /* Цвет фона */
					    padding: 10px; /* Поля вокруг текста */
					    text-overflow: ellipsis; /* Добавляем многоточие */
					    width:350px;
  						height:125px;
					   }
					   
.miniImg {
	width: 400px;
	height: auto;
}
